body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-18px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:765px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:21px;
  width:1024px;
  height:765px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D9001B;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:622px;
  width:89px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D9001B;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:465px;
  width:65px;
  height:52px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:378px;
  height:19px;
}
#u9p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:374px;
  height:6px;
  -webkit-transform:rotate(-0.0033303061605956deg);
  -moz-transform:rotate(-0.0033303061605956deg);
  -ms-transform:rotate(-0.0033303061605956deg);
  transform:rotate(-0.0033303061605956deg);
}
#u9p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:6px;
}
#u9p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(21.9966696938394deg);
  -moz-transform:rotate(21.9966696938394deg);
  -ms-transform:rotate(21.9966696938394deg);
  transform:rotate(21.9966696938394deg);
}
#u9p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u9p002 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(179.996669693839deg);
  -moz-transform:rotate(179.996669693839deg);
  -ms-transform:rotate(179.996669693839deg);
  transform:rotate(179.996669693839deg);
}
#u9p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:572px;
  width:369px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-21.9966696938394deg);
  -moz-transform:rotate(-21.9966696938394deg);
  -ms-transform:rotate(-21.9966696938394deg);
  transform:rotate(-21.9966696938394deg);
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
