body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-80px;
  width:613px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:389px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:12px;
  width:221px;
  height:389px;
  display:flex;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:105px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFF00;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:26px;
  width:221px;
  height:105px;
  display:flex;
  font-size:16px;
  color:#FFFF00;
  text-align:left;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#D9001B;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:330px;
  width:85px;
  height:33px;
  display:flex;
  font-size:16px;
  color:#D9001B;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:169px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:111px;
  width:204px;
  height:169px;
  display:flex;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:2px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:88px;
  width:186px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(27.1146341247669deg);
  -moz-transform:rotate(27.1146341247669deg);
  -ms-transform:rotate(27.1146341247669deg);
  transform:rotate(27.1146341247669deg);
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:2px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:271px;
  width:161px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-14.3813945910906deg);
  -moz-transform:rotate(-14.3813945910906deg);
  -ms-transform:rotate(-14.3813945910906deg);
  transform:rotate(-14.3813945910906deg);
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:2px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:187px;
  width:103px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.556252227080672deg);
  -moz-transform:rotate(-0.556252227080672deg);
  -ms-transform:rotate(-0.556252227080672deg);
  transform:rotate(-0.556252227080672deg);
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
