body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:696.000362315589px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:183px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:112px;
  width:151px;
  height:183px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:122px;
  width:137px;
  height:63px;
  display:flex;
  font-size:16px;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:137px;
  width:69px;
  height:29px;
  display:flex;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:174px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:389px;
  width:151px;
  height:174px;
  display:flex;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:563px;
  width:101px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u68_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:123px;
  width:54px;
  height:19px;
  display:flex;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_img.disabled {
}
#u68.disabled {
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u69_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:139px;
  width:59px;
  height:18px;
  display:flex;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_img.disabled {
}
#u69.disabled {
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u70_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:157px;
  width:48px;
  height:20px;
  display:flex;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_img.disabled {
}
#u70.disabled {
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:192px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:87px;
  width:137px;
  height:192px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:132px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:123px;
  width:122px;
  height:132px;
  display:flex;
  font-size:16px;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:89px;
  width:91px;
  height:33px;
  display:flex;
  font-size:16px;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:406px;
  width:137px;
  height:175px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:47px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:430px;
  width:121px;
  height:47px;
  display:flex;
  font-size:16px;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:483px;
  width:121px;
  height:33px;
  display:flex;
  font-size:16px;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:239px;
  width:137px;
  height:31px;
  display:flex;
  font-size:16px;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:67px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:0px;
  width:89px;
  height:67px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:167px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:216px;
  height:10px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:-5px;
  width:10px;
  height:11px;
}
#u79_seg2 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:-4px;
  width:218px;
  height:10px;
}
#u79_seg3 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:-9px;
  width:20px;
  height:20px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:162px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:693px;
  height:4px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:77px;
  width:690px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0832786906466602deg);
  -moz-transform:rotate(-0.0832786906466602deg);
  -ms-transform:rotate(-0.0832786906466602deg);
  transform:rotate(-0.0832786906466602deg);
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F59A23;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:76px;
  width:162px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#F59A23;
}
#u81 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:189px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-546px;
  top:-5px;
  width:546px;
  height:10px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-546px;
  top:-5px;
  width:10px;
  height:56px;
}
#u82_seg2 {
  border-width:0px;
  position:absolute;
  left:-551px;
  top:36px;
  width:20px;
  height:20px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:-346px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:270px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u83_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:132px;
}
#u83_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:112px;
  width:20px;
  height:20px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:54px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:393px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-118px;
  width:10px;
  height:118px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-118px;
  width:11px;
  height:10px;
}
#u84_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-123px;
  width:10px;
  height:15px;
}
#u84_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-128px;
  width:20px;
  height:20px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-71px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:238px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u85_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-32px;
  width:10px;
  height:32px;
}
#u85_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-32px;
  width:517px;
  height:10px;
}
#u85_seg2 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:-37px;
  width:20px;
  height:20px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:192px;
  top:-36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:255px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:180px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:160px;
  width:20px;
  height:20px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:78px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:428px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u87_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-91px;
  width:10px;
  height:91px;
}
#u87_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-91px;
  width:11px;
  height:10px;
}
#u87_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-173px;
  width:10px;
  height:92px;
}
#u87_seg3 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-178px;
  width:20px;
  height:20px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-95px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:232px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-480px;
  top:-5px;
  width:480px;
  height:10px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-480px;
  top:-5px;
  width:10px;
  height:14px;
}
#u88_seg2 {
  border-width:0px;
  position:absolute;
  left:-485px;
  top:-6px;
  width:20px;
  height:20px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-292px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:270px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:134px;
}
#u89_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:114px;
  width:20px;
  height:20px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:392px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-68px;
  width:10px;
  height:68px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-68px;
  width:11px;
  height:10px;
}
#u90_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-122px;
  width:10px;
  height:64px;
}
#u90_seg3 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-127px;
  width:20px;
  height:20px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-70px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:255px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:215px;
  height:10px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:-7px;
  width:10px;
  height:12px;
}
#u91_seg2 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:-7px;
  width:219px;
  height:10px;
}
#u91_seg3 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:-12px;
  width:20px;
  height:20px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:161px;
  top:-11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:144px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:7px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-421px;
  top:-3px;
  width:426px;
  height:10px;
}
#u92_seg2 {
  border-width:0px;
  position:absolute;
  left:-426px;
  top:-8px;
  width:20px;
  height:20px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-260px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:122px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:6px;
  height:10px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-93px;
  width:10px;
  height:98px;
}
#u93_seg2 {
  border-width:0px;
  position:absolute;
  left:-196px;
  top:-93px;
  width:202px;
  height:10px;
}
#u93_seg3 {
  border-width:0px;
  position:absolute;
  left:-201px;
  top:-98px;
  width:20px;
  height:20px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-97px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:55px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:184px;
  height:10px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-5px;
  width:10px;
  height:74px;
}
#u94_seg2 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:54px;
  width:20px;
  height:20px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:126px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-7px;
  width:10px;
  height:7px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-429px;
  top:-7px;
  width:434px;
  height:10px;
}
#u95_seg2 {
  border-width:0px;
  position:absolute;
  left:-434px;
  top:-12px;
  width:20px;
  height:20px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-264px;
  top:-11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:340px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:189px;
  width:370px;
  height:340px;
  display:flex;
  text-align:left;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:551px;
  width:68px;
  height:29px;
  display:flex;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
